<div class="container p-5">

  <div class="row">
    <div class="col-md-10 offset-md-1">

      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">マイページ</h2>

      <div class="row mb-4">
        <div class="col-md-4">
          <h2 class="font-weight-bold">登録情報</h2>
        </div>
        <div class="col-md-4">
          <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
        </div>
      </div>

      <table class="table table-bordered mb-4">
        <tbody>
          <tr>
            <td class="table-secondary">氏名</td>
            <td><%= @customer.full_name %></td>
          </tr>
          <tr>
            <td class="table-secondary">カナ</td>
            <td><%= @customer.full_name_kana %></td>
          </tr>
          <tr>
            <td class="table-secondary">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-secondary">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="table-secondary">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="table-secondary">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>

      <div class="row mb-4">
        <div class="col-md-4">
          <h2 class="font-weight-bold">配送先</h2>
        </div>
        <div class="col-md-4">
          <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <h2 class="font-weight-bold">注文履歴</h2>
        </div>
        <div class="col-md-4">
          <%= link_to "一覧を見る", edit_customer_path, class: "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>