<div class="container p-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">商品詳細</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @item.get_image, size: "100x100" %>
    </div>

    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td colspan="2">商品名</td>
            <td colspan="5"><%= @item.name %></td>
          </tr>
          <tr>
            <td colspan="2">商品説明</td>
            <td colspan="5"><%= @item.introduction %></td>
          </tr>
          <tr>
            <td colspan="2">ジャンル</td>
            <td colspan="5"><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td colspan="2">
              税込価格<br>
              (税抜価格)
            </td>
            <td colspan="5">
                <%= "#{@item.price.to_s(:delimited)}""（#{@item.price.to_s(:delimited) * 1.1.round})円" %>
            </td>
          </tr>
          <tr>
            <td colspan="2">販売ステータス</td>
            <td colspan="5"><%= @item.is_active ? '販売中' : '販売停止中' %></td>
          </tr>
          <tr class="text-center">
            <td>
              <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>