<div class="container p-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">
        <%= "#{@customer.last_name}#{@customer.first_name}さんの会員詳細" %>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.full_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.full_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= @customer.is_deleted ? '退会' : '有効  ' %></td>
          </tr>
          <tr class="text-center">
            <td>
              <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
            </td>
            <td>
              <%= link_to "注文履歴一覧を見る", admin_order_path(@customer), class: "btn btn-primary" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>