<div class="container p-5">
  <div class="row">
    <div class="col-md-10">

      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">注文履歴一覧</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>購入者</td>
            <td>
              <%= @order.customer.full_name %>
              </td>
          </tr>
          <tr>
            <td>注文日</td>
            <td>
              <%= @order.created_at %>
            </td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <%= @order.postal_code %>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>
              <%= @order.payment_method %>
            </td>
          </tr>
          <%= form_with model: @order, url: admin_order_path, method: :patch  do |f| %>
            <tr>
              <td>
                <%= f.label "注文ステータス" %>
              </td>
              <td>
                <%= f.select :status, Order.status_i18n.invert, {}, class: "form-control" %>
                <%= f.submit "更新", class: "btn btn-success" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th colspan="3">商品名</th>
            <th colspan="2">単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="4">製作ステータス</th>
          </tr>
        </thead>
        <% @order.order_detail.each do |order| %>
          <tbody>
            <tr>
              <td colspan="3">
                <%= order.item.name %>
              </td>
              <td colspan="2">
                <%= order.price.to_s(:delimited) %>
              </td>
              <td>
                <%= order.amount %>
              </td>
              <td>
                <%= order.price.to_s(:delimited) * order.amount %>
              </td>
              <%= form_with model: @order_detail, url: admin_order_detail_path, method: :patch do |f| %>
                <td colspan="4">
                  <%= f.select :making_status, OrderDetail.making_status_i18n.invert, {}, class: "form-control" %>
                  <%= f.submit "更新", class: "btn btn-success" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>

    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>
              <%= @order.total_payment %>
            </td>
          </tr>
          <tr>
            <td>送料</td>
            <td>
              <%= @order.postage %>
            </td>
          </tr>
          <tr>
            <td>請求金額合計</td>
            <td>
              <%= @order.total_payment + @order.postage %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
