<div class="container p-5">
  <div class="row text-nowrap">
    <div class="col-md-12">

      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@order.errors.count, "error") %> prohibited this obj from being saved:</h3>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">注文履歴一覧</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>購入者</td>
            <td>
              <%= link_to @order.customer.full_name, admin_customer_path(@order.customer_id) %>
            </td>
          </tr>
          <tr>
            <td>注文日</td>
            <td>
              <%= @order.created_at %>
            </td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <%= @order.postal_code %>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>
              <%= @order.payment_method_i18n %>
            </td>
          </tr>
          <%= form_with model: @order, url: admin_order_path, method: :patch  do |f| %>
            <tr>
              <td><%= f.label "注文ステータス" %></td>
              <td class="d-flex ">
                <%= f.select :status, Order.statuses_i18n.invert, {}, {} %>
                <%= f.submit "更新", class: "btn btn-success ml-4" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @order.order_details.each do |order_detail| %>
          <tbody>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.taxin_price.to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.sum_of_price.to_s(:delimited) %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path, method: :patch do |f| %>
                <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {}, class: "form-control" %></td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>

    </div>
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td>
              <%= @order.total_payment %>
            </td>
          </tr>
          <tr>
            <th>送料</th>
            <td>
              <%= @order.postage %>
            </td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td>
              <%= @order.total_payment %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
