<div class="container p-5">

  <div class="row">
    <div class="col-md-10 offset-md-1">

      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@order.errors.count, "error") %> prohibited this obj from being saved:</h3>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2 class="mb-4 px-4 bg-light text-center text-nowrap d-inline-block">注文情報確認</h2>

      <div class="row text-nowrap">
        <div class="col-md-7">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <% @cart_items.each do |cart| %>
              <tbody>
                <tr>
                  <td><%= cart.item.name %></td>
                  <td><%= cart.item.taxin_price %></td>
                  <td><%= cart.amount %></td>
                  <td><%= cart.sum_of_price %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
        <div class="col-md-4 offset-md-1">
          <table class="table table-bordered thead-light">
            <tbody class="thead-light">
              <tr>
                <th>送料</th>
                <td><%= @postage %></td>
              </tr>
              <tr>
                <th>商品合計</th>
                <td><%= @total.round.to_s(:delimited) %></td>
              </tr>
              <tr>
                <th>請求金額</th>
                <td><%= @total_payment.round.to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="font-weight-bold">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="font-weight-bold">お届け先</th>
            <td>
              <%= @order.full_address %><br>
              <%= @order.name %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= form_with model: @order, url: orders_path, method: :post do |f| %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :postage, :value => @postage %>
          <%= f.hidden_field :total_payment, :value => @total_payment %>
          <%= f.submit "注文を確定する", class: "btn btn-success" %>
        <% end %>
      </div>

    </div>
  </div>
</div>